*.mkv
*.mp4
*.wav
*.flac
*.ffindex
*.png
*.aac
*.m4a
*.h264
*.h265
*.eac3
*.ass
*.mka
*.xml
cudnn_data/
*.webm
ffmpeg2pass*.log
!mask_2.png
*.m2ts
*.lwi
**/.vspreview/
**/results/
**/__pycache__/
**/*.egg-info/
**/bdmv/
**/bdpremux/
**/sub/
**/dvd/
*.txt
